<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
        <div class="row">
         <div class="col-md-8 form-group">
             <input id="lunch-menu" type="text" ng-model="items" style="border-color:{{InputBorderColor}}"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
             <div>
                Do not consider empty item towards the count
             </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-12 form-group">
             <button class="btn btn-default" ng-click="CheckifTooMuch();">Check If Too Much</button>
         </div>
      </div>
       <div class="row">
         <div class="col-md-12 form-group message">
           <!-- Your message can go here. -->
            <label style="color:{{FontColor}}">{{message}}</label>
         </div>
       </div>
   </div>

</body>
</html>
